body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.logo-image{
    height:80px;
    width:auto;
}
header {
  background-color: white;
  padding: 20px;
  border-bottom: 2px solid #00a99d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00a99d;
  font-size: 20px;
  font-weight: bold;
}

.auth-btn {
  background-color: #00a99d;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button {
  background-color: #00a99d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero {
  background-color: #d5ece9;
  padding: 40px;
}

.hero h1 {
  color: #00a99d;
  font-size: 30px;
}

.feature-box {
  background-color: #00a99d;
  color: white;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 200px;
}

.feature-box h3 {
  margin: 0;
  font-size: 16px;
}

.feature-box p {
  margin: 5px 0 0 0;
  font-size: 13px;
}
